<div class="position-absolute  d-lg-block" [class]="{'d-none': checkToogleMobile(), 'sidenav-collapse' : checkToggle() }"  id="sidenav">
    <div class="d-flex flex-row justify-content-between" id="logoFrame" (click)="toogleSidebar()">
        <div class="p-2 m-0 d-lg-block d-none ms-3" id="logo" >
            <div  class=""></div>    
        </div>
        <div class="p-2 m-0 d-xl-block d-none" >
            <div><button type="button" class="btn"  ><i class="bi bi-x"  ></i></button></div>  
        </div>
    </div>
  
    <div class="bg-white z-3 p-2 ps-3 overflow-auto " id="mainSidenav" > 
        
       
        <p class="fst-normal text-primary text-nowrap ">MAIN NAVIGATION
        
            <div class="header-menu d-flex align-items-center justify-content-start ms-3 rounded "  data-bs-toggle="collapse" data-bs-target="#dashboards" id="dashboard"><i class="bi bi-rocket text-secondary"></i><span class="ms-2 fw-semibold ">Dashboards</span><i class="arrow ms-auto"></i></div>
                <div class="collapse "  id="dashboards" >
                    <ul class="p-1">
                        <li class="nav-item px-3 py-1 rounded"><a routerLink="/analytics" class="nav-link active ">Analytics</a></li>
                        <li class="nav-item px-3 py-1 rounded"><a href="#" class="nav-link">Advertisement</a></li>
                        <li class="nav-item px-3 py-1 rounded"><a href="#" class="nav-link">Management</a></li>
                        <li class="nav-item px-3 py-1 rounded"><a href="#" class="nav-link">Helpdesk</a></li>
                        <li class="nav-item px-3 py-1 rounded"><a href="#" class="nav-link">Monitoring</a></li>
                        <li class="nav-item px-3 py-1 rounded"><a href="#" class="nav-link">Crypto</a></li>
                        <li class="nav-item px-3 py-1 rounded"><a href="#" class="nav-link">ProjectManagement</a></li>
                        <li class="nav-item px-3 py-1 rounded"><a href="#" class="nav-link">Product</a></li>
                        <li class="nav-item px-3 py-1 rounded"><a href="#" class="nav-link">Statistics</a></li>
                        
                    </ul>
                </div>
              
    </div> 
   
    
</div>