#sidenav{
   
   left: 0;
   width: 300px;
   #logoFrame{
    background-color: rgb(250, 251,252);
    box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
    padding-left: .5rem;
        #logo div{
                background-image: url("https://demo.dashboardpack.com/architectui-angular-pro/logo-inverse.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 100px;
                height:42px;
        } 
   }
 
   #mainSidenav{
   #dashboard{
    padding-left: 1rem;
   }
    #dashboards {
        border-left: 3px solid #3f6ad8;
        padding-left: 0rem;
        margin-left: 2.4rem;
        ul{
            list-style: none;
        }
    }
   
   }
    &:not(.sidenav-collapse){
         width: 80px;
        
         #logoFrame{
            
            overflow: hidden;
            background-color: rgb(250, 251,252);
            box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
            //  padding-left: 10px;
                #logo div{
                        background-image: url("https://demo.dashboardpack.com/architectui-angular-pro/logo-inverse.png");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        width: 100px;
                        height:42px;
                        overflow: hidden;
                         clip-path: inset(0 80% 0 0);
                } 
                button{
                    display: none;
                }
         }
         #mainSidenav{
            
            p{
               visibility: hidden;
            }
            span,#dashboards{
                display: none;
            }
            #dashboard,span{
                padding-left: 0;
            }
            @media screen and (max-width: 992px) {
               span,#dashboards{
                    display: block;
                }
            }
         }
    }
  
   @media screen and (min-width: 992px) {
    top: 0;
    z-index: 4;
    
   }
   
   @media screen and (max-width: 992px) {
    display: block;
    
   }

}