<div id="analytics" class="ms-lg-4 ps-lg-5">
    
         <div id="banner" class="d-flex justify-content-between ps-2">
            <div class="d-flex flex-row align-items-center  justify-content-between py-4 container-fluid">
                <div class="border text-center d-flex align-items-center  fs-1 d-none d-lg-block bg-white">
                    &#9992;
                </div>
                <div class="row container-fluid justify-content-between align-items-center">
                    <div class="col-12 col-lg-9 text-center text-lg-start">
                        <p class="fs-5 mb-0">Analytics Dashboard</p>
                        <p class="text-secondary pt-0  mb-0">This is an example dashboard created using build-in elements and components.</p>
                    </div>
                <div class="col-12  col-lg-3 text-center text-lg-end mt-3 mt-lg-0">
                    <button type="button" class="btn bg-secondary text-white">★</button>
                    <button type="button" class="btn bg-success ms-2">+ Create New</button>
                </div>
                </div>
            </div>
        </div>
       
        <div class="row m-0 px-4" id="mainContent">
             <div class="col-12 border bg-white rounded" id="perfomance">
                <div class="row justify-content-between align-items-center border-bottom py-2">
                    <div class="col-12 col-md-6 text-md-start text-center">Portfolio Performance</div>
                    <div class="col-12 col-md-6 text-md-end text-center"><button type="button" class="btn border border-dark fs-6">View All</button></div>
                </div>
                <div class="row  border-bottom">
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">s</div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">a</div>
                    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">f</div>
                </div>
                <div class="d-flex justify-content-center py-3">
                    <button type="button" class="btn border border-dark fs-6 fw-semibold rounded-pill btn-primary px-5 py-1">View Complete Report</button>
                </div>
             </div>
            
        </div>
   
</div>